
## Домашнее задание к лекции "Базовые понятия статистики"
**Обязательная часть**

Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

In [1]:
import pandas as pd
import numpy as np

**Задание 1. Базовое изучение**

Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [2]:
df = pd.read_csv('horse_data.csv')
df.head()

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2

In [3]:
df.describe()

,1,530101,2.3,11300,00000,00000.1,2.4
count,299.00000,2.990000e+02,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.64214,1.087748e+06,1.361204,3632.321070,90.528428,7.387960,1.668896
std,2.17730,1.532026e+06,0.481155,5390.356722,650.637139,127.749768,0.471399
min,1.00000,5.184760e+05,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1.00000,5.289040e+05,1.000000,2111.500000,0.000000,0.000000,1.000000
50%,1.00000,5.303100e+05,1.000000,2322.000000,0.000000,0.000000,2.000000
75%,1.00000,5.347360e+05,2.000000,3209.000000,0.000000,0.000000,2.000000
max,9.00000,5.305629e+06,2.000000,41110.000000,7111.000000,2209.000000,2.000000

In [4]:
data = df.replace('?', '')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   2        299 non-null    object
 1   1        299 non-null    int64
 2   530101   299 non-null    int64
 3   38.50    299 non-null    object
 4   66       299 non-null    object
 5   28       299 non-null    object
 6   3        299 non-null    object
 7   3.1      299 non-null    object
 8   ?        299 non-null    object
 9   2.1      299 non-null    object
 10  5        299 non-null    object
 11  4        299 non-null    object
 12  4.1      299 non-null    object
 13  ?.1      299 non-null    object
 14  ?.2      299 non-null    object
 15  ?.3      299 non-null    object
 16  3.2      299 non-null    object
 17  5.1      299 non-null    object
 18  45.00    299 non-null    object
 19  8.40     299 non-null    object
 20  ?.4      299 non-null    object
 21  ?.5      299 non-null    object
 22  2.2      299 non-null    object
 23  2.3      299 non-null    int64
 24  11300    299 non-null    int64
 25  00000    299 non-null    int64
 26  00000.1  299 non-null    int64
 27  2.4      299 non-null    int64
dtypes: int64(7), object(21)
memory usage: 65.5+ KB

In [5]:
horses = df[[0,1,3,4,7,10,19,23]].rename(columns={0: 'Surgery', 1: 'Age', 3: 'Rectal temperature', 4: 'pulse', 7: 'peripheral pulse', 10: 'pain level', 19: 'total protein', 23: 'outcome' })
horses = horses.apply(lambda x: x.replace('?',''))
horses.head()

KeyError: "None of [Int64Index([0, 1, 3, 4, 7, 10, 19, 23], dtype='int64')] are in the [columns]"

In [38]:
for column in horses.columns:
    horses[column] = pd.to_numeric(horses[column])
horses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Surgery             299 non-null    float64
 1   Age                 300 non-null    int64
 2   Rectal temperature  240 non-null    float64
 3   pulse               276 non-null    float64
 4   peripheral pulse    231 non-null    float64
 5   pain level          245 non-null    float64
 6   total protein       267 non-null    float64
 7   outcome             300 non-null    int64
dtypes: float64(6), int64(2)
memory usage: 18.9 KB

In [21]:
#В датасете ошибка по возрасту: в описании дается 2 как молодая лошадь, а в датасете - 9
horses['Age'] = horses.Age.apply(lambda age: 2 if age == 9 else age)

NameError: name 'horses' is not defined

In [22]:
horses.head()

NameError: name 'horses' is not defined

In [23]:
#Провести расчет базовых метрик для них
print('Средняя:')
print(horses.mean())
print('---------')
print('Медиана:')
print(horses.median())
print('---------')
print('Мода:')
for column_name in horses.columns:
    print(column_name, horses[column_name].mode()[0])

Средняя:

NameError: name 'horses' is not defined

## Выводы
    1) Surgery - Большая часть лошадей имела операции
    2) Age - Практически все лошади - взрослые особи (старше 6 месяцев)
    3) Rectal temperature - "Средняя по больнице" чуть выше нормы, что говорит о том, что температура у лошадей завышена
    4) Pulse - Средняя пульса значительно выше медианного или модального значения. Можно сделать вывод об ошибке в показаниях, либ какие-то лошади имели очень высокий пульс (разберемся с этим дальше)
    5) peripheral pulse - пульс всех лошадей был выше нормы
    6) total protein - Опять же, средняя по белку сильно выше модального или медианного значения. Будем смотреть почему. Модальное и медианное значения находятся в пределах нормы
    7) outcome - Данные говорят о том, что большинство лошадей все же выжило
    8) pain level - данные говорят, что лошади испытывали боль, но не острую (возможно, отсюда и высокий пульс)

In [24]:
horses['pulse'].unique()

NameError: name 'horses' is not defined

In [25]:
horses['total protein'].unique()

NameError: name 'horses' is not defined

**Задание 2. Работа с выбросами**

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [26]:
from pylab import rcParams
rcParams['figure.figsize'] = 10,7

In [27]:
# с помощью boxplot найдем явные выбросы
horses.boxplot()

NameError: name 'horses' is not defined

In [28]:
horses.boxplot(column=['Rectal temperature'])

NameError: name 'horses' is not defined

In [29]:
# Видим, что данные по пульсу и температуре имеют выбросы. Попробуем от них избавиться

In [30]:
#pulse
q1 = horses['pulse'].quantile(0.25)
q3 = horses['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
horses = horses[horses['pulse'].between(lower_bound, upper_bound, inclusive=True)]
horses

#Rectal temperature
q1 = horses['Rectal temperature'].quantile(0.25)
q3 = horses['Rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
horses = horses[horses['Rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]
horses

NameError: name 'horses' is not defined

In [31]:
print('Средняя:')
print(horses.mean())
print('---------')
print('Медиана:')
print(horses.median())
print('---------')
print('Мода:')
for column_name in horses.columns:
    print(column_name, horses[column_name].mode()[0])

Средняя:

NameError: name 'horses' is not defined

Показатели стали ближе друг к другу. Вероятнее всего, выбросы не были ошибочными показателями, просто у ряда лошадей были небольшие отклонения от общей массы.

**Задание 3. Работа с пропусками**

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [32]:
#Заново создаем Датафрейм
df = pd.read_csv('horse_data.csv', header=None)
horses = df[[0,1,3,4,7,10,19,23]].rename(columns={0: 'Surgery', 1: 'Age', 3: 'Rectal temperature', 4: 'pulse', 7: 'peripheral pulse', 10: 'pain level', 19: 'total protein', 23: 'outcome' })
horses = horses.apply(lambda x: x.replace('?',''))
for column in horses.columns:
    horses[column] = pd.to_numeric(horses[column])
horses['Age'] = horses.Age.apply(lambda age: 2 if age == 9 else age)
horses.head()

,Surgery,Age,Rectal temperature,pulse,peripheral pulse,pain level,total protein,outcome
0,2.0,1,38.5,66.0,3.0,5.0,8.4,2
1,1.0,1,39.2,88.0,NaN,3.0,85.0,2
2,2.0,1,38.3,40.0,1.0,3.0,6.7,2
3,1.0,2,39.1,164.0,1.0,2.0,7.2,1
4,2.0,1,37.3,104.0,NaN,NaN,7.4,2

In [33]:
#Считаем количество пропусков
for col in horses.columns:
    pct_missing = horses[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

Surgery - 0.3%
Age - 0.0%
Rectal temperature - 20.0%
pulse - 8.0%
peripheral pulse - 23.0%
pain level - 18.3%
total protein - 11.0%
outcome - 0.0%

Мы можем заполнить количественные значения (температура, пульс и белок) средними значениями. Качественные значения (жива лошадь или нет, сколько ей лет) мы не можем

In [97]:
horses_filled = horses
horses_filled['pulse'].fillna(horses['pulse'].mean(), inplace=True)
horses_filled['Rectal temperature'].fillna(horses['Rectal temperature'].mean(), inplace=True)
horses_filled['total protein'].fillna(horses['total protein'].mean(), inplace=True)
horses_filled = horses_filled.dropna()
horses_filled.head(10)

,Surgery,Age,Rectal temperature,pulse,peripheral pulse,pain level,total protein,outcome
0,2.0,1,38.500000,66.000000,3.0,5.0,8.400000,2
2,2.0,1,38.300000,40.000000,1.0,3.0,6.700000,2
3,1.0,2,39.100000,164.000000,1.0,2.0,7.200000,1
5,2.0,1,38.167917,71.913043,1.0,2.0,24.456929,2
6,1.0,1,37.900000,48.000000,1.0,3.0,7.000000,1
8,2.0,1,38.167917,80.000000,4.0,4.0,6.200000,1
10,1.0,1,38.100000,66.000000,3.0,3.0,6.000000,1
12,1.0,1,37.200000,42.000000,1.0,3.0,7.000000,2
13,2.0,2,38.000000,92.000000,1.0,1.0,6.100000,2
14,1.0,1,38.200000,76.000000,1.0,3.0,81.000000,1

In [93]:
horses_filled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 0 to 298
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Surgery             211 non-null    float64
 1   Age                 211 non-null    int64
 2   Rectal temperature  211 non-null    float64
 3   pulse               211 non-null    float64
 4   peripheral pulse    211 non-null    float64
 5   pain level          211 non-null    float64
 6   total protein       211 non-null    float64
 7   outcome             211 non-null    int64
dtypes: float64(6), int64(2)
memory usage: 14.8 KB

In [95]:
#Считаем количество пропусков
for col in horses_filled.columns:
    pct_missing = horses_filled[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

Surgery - 0.0%
Age - 0.0%
Rectal temperature - 0.0%
pulse - 0.0%
peripheral pulse - 0.0%
pain level - 0.0%
total protein - 0.0%
outcome - 0.0%

In [99]:
#Итого остается 211 значений
print('Средняя:')
print(horses_filled.mean())
print('---------')
print('Медиана:')
print(horses_filled.median())
print('---------')
print('Мода:')
for column_name in horses_filled.columns:
    print(column_name, horses_filled[column_name].mode()[0])

Средняя:
Surgery                1.426540
Age                    1.066351
Rectal temperature    38.178582
pulse                 72.278178
peripheral pulse       2.000000
pain level             2.909953
total protein         22.849341
outcome                1.360190
dtype: float64
---------
Медиана:
Surgery                1.000000
Age                    1.000000
Rectal temperature    38.167917
pulse                 68.000000
peripheral pulse       1.000000
pain level             3.000000
total protein          7.500000
outcome                1.000000
dtype: float64
---------
Мода:
Surgery 1.0
Age 1
Rectal temperature 38.16791666666669
pulse 48.0
peripheral pulse 1.0
pain level 3.0
total protein 24.456928838951317
outcome 1